.banner {
  background-image:linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url(../../images/bgbon.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}


