.rect-black{
      padding: 70px 45px;
          position: relative;
              margin-bottom: 0;
    background: transparent;
    color: white;
    display: block;
    background-color: black;

}

.rect-big{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rect-text{
      margin: -5% 0;
          width: 52%;
    height: 100%;
        flex: 0 1 auto;
    padding: 0 3rem 0 0;
    z-index: 3;
    display: block;
    color:white;
    font-family: 'Lora',serif;
}

.rect-anim{
  width: 48%;
  height: 100%;
  display: flex;
  flex: 0 1 auto;
  box-sizing: border-box;
  -webkit-box-flex: 0;
}

.rect-anim-img{
  position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
    border: 0;
}

.rect-anim-vd{
      width: 100%;
    height: 100%;
    max-width: 83%;
    max-height: 52%;
    position: absolute;
    top: 47%;
    left: 64%;
    display: block;
    transform: translate(-55%, -50%);
    z-index: -1
}

.rect-vd{
      width: 100%;
    height: 100%;
        display: inline-block;
    vertical-align: baseline;
    object-fit: contain;

}

.rect-anim-vds{
      width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 34%;
    left: 50%;
        -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  display: block;
}

.rect-anims{width: 48%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

.rect-anim-imgs{
  margin: -5% -10% 0 0

}
